.main-task-block {
  padding: 2%;
  margin: 5% ;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background: white;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  width: 100%;

  .task-img {
    img {
      width: 100%;
    }
  }
  &:hover{

    cursor: pointer;
    box-shadow: none;
    transition: 0.3s;

  }
  .priority{
    position: absolute;
    top:-5% *1.41;
    right:-5% *1.41;
    width: 15% *1.41;
    height: 15% *1.41;
    //border-bottom: #cda062 solid 3px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transform: rotate(45deg);
    background: #e72734;
  }

}