.achievement-wrapper {
  height: 10%;
  padding: 4px;
  width: 100%;

  .achievement {
    display: inline-flex;
    border: 1px solid #cda062;
    border-radius: 10px;
    height: 100%;
    background: #524028;
    cursor: pointer;
    align-items: center;

    .achievement-description {
      display: none;
      padding-left: 5px;
      padding-right: 5px;
      color: #cda062;
      height: 100%;
      align-items: center;
      p {
        padding: 0;
        margin: 0;
      }
    }

    .achievement-img {
      height: 100%;
      display: inline-block;

      img {
        padding: 5px;
        height: 100%;
        border-radius: 100%;
      }
    }

    &:hover {
      width: auto;

      .achievement-description {
        display: flex;
      }
    }
  }

  &:nth-child(2n) .achievement{
    float: right;
    flex-flow: row-reverse;
  }
}